---

---

<footer>
    <div class="container">
      
    </div>
    <span>Copyringht © - 2024 | Carlos Eduardo Cruz Reyes </span>
</footer>

<style>

    /* Iocon */
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        background-color: var(--secondary);
        margin-top: 2rem;
    }

    .sp-icon{
        margin-left: 1rem;
    }

    .container{
        margin: 0 auto;
        
    }

    
    span{
        font-family: 'Inter', sans-serif;
        color: var(--surface-bright);
        font-weight: 700;
        margin-top: 2rem;
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        footer {
            padding: 1rem; /* Reducir el relleno en pantallas más pequeñas */
        }

        .sp-icon {
            margin-left: 0; /* Eliminar el margen izquierdo en pantallas más pequeñas */
        }
    }
</style>